<h1>Inventory</h1>

<table>
	<tr>
		<th>Item</th>
		<th>Credit Card required</th>
		<th>Quantity Available</th>
		<th>Quantity Total</th>
		<th>Next Due<th>
		<th>Description</th>			
	</tr>

	<% @hardwares.each do |hardware| %>
		<tr>
			<td><%= hardware["name"] %></td>
			<td><%= hardware["requirescredit"] %></td>
			<td><%= hardware["available"] %></td>
			<td><%= hardware["total"] %></td>
			<td><%= hardware["due"] %></td>
			<td><%= hardware["description"] %></td>			
		</tr>
	<% end %>

<p>Find me in app/views/main/inventory.html.erb</p>
