<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:title" content="Hardware Registration"/> 

      <title>Login: Hardware Registration</title>
       <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <%= stylesheet_link_tag "main.css" %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="star"></div>
    <div class="container" id="container">
       <div class="headers edit-header" id="header">
          <h1 class="main-header">Edit <%= resource_name.to_s.humanize %></h1>
          <h2>It's okay. We all make mistakes. </h2>
        </div>
<div class="signup signup-edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email,  :placeholder => "Email", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password,  :placeholder => "New Password", autocomplete: "off" %>
    <br />
    <i>(leave blank if you don't want to change it)</i> <!-- for new password -->
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation,  :placeholder => "Confirm New Password", autocomplete: "off" %> <!-- confirm new password -->
  </div>

  <div class="field">
    <%= f.password_field :current_password,  :placeholder => "Current Password", autocomplete: "off" %>
    <br>
    <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


<p><h2>Unhappy?</h2> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
</body>
<script>
      var limit=200, // Max number of stars
      body=document.getElementById("container");
      loop={
       //initilizeing
       start:function(){
        for (var i=0; i <= limit; i++) {
         var star=this.newStar();
         star.style.top=this.rand()*100+"%";
         star.style.left=this.rand()*100+"%";
         star.style.webkitAnimationDelay=(this.rand()*3)+"s";
         star.style.mozAnimationDelay=(this.rand()*3)+"s";
         star.style.animationDelay=(this.rand()*3)+"s";
         body.appendChild(star);
        };
       },
       //to get random number
       rand:function(){
        return Math.random();
       },
       //createing html dom for star
       newStar:function(){
        var d = document.createElement('div');
        d.innerHTML = '<div class="star"></div>';
         return d.firstChild;
       },
      };
      loop.start();
    </script>
</html>